@tailwind base;
@tailwind components;
@tailwind utilities;

.movies-wrapper {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.movie-item {
  width: 200px;
  flex-shrink: 0;
}
